<launch>
  <arg name="scene_id" default="0"/>
  <arg name="gui" default="true"/>
  <arg name="target_z" default="5.0"/>
  <arg name="spawn_x" default="-40.0"/>
  <arg name="spawn_y" default="-40.0"/>
  <arg name="gazebo_master_uri" default="http://127.0.0.1:11430"/>
  <env name="GAZEBO_MASTER_URI" value="$(arg gazebo_master_uri)"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find logistics_gazebo_sim)/worlds/scene_$(arg scene_id).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="paused" value="false"/>
  </include>

  <group ns="uav0">
    <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="x" value="$(eval float(arg('spawn_x')) - 3.0)"/><arg name="y" value="$(arg spawn_y)"/><arg name="z" value="0"/>
      <arg name="R" value="0"/><arg name="P" value="0"/><arg name="Y" value="0"/>
      <arg name="vehicle" value="iris"/><arg name="mavlink_udp_port" value="14560"/>
      <arg name="mavlink_tcp_port" value="4560"/><arg name="ID" value="0"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="udp://:14540@localhost:14580"/><arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="1"/><arg name="tgt_component" value="1"/>
    </include>
    <node pkg="logistics_gazebo_sim" type="offboard_controller" name="offboard_controller" output="screen">
      <param name="x" value="0"/><param name="y" value="0"/><param name="z" value="$(arg target_z)"/>
    </node>
  </group>

  <group ns="uav1">
    <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="x" value="$(arg spawn_x)"/><arg name="y" value="$(arg spawn_y)"/><arg name="z" value="0"/>
      <arg name="R" value="0"/><arg name="P" value="0"/><arg name="Y" value="0"/>
      <arg name="vehicle" value="iris"/><arg name="mavlink_udp_port" value="14561"/>
      <arg name="mavlink_tcp_port" value="4561"/><arg name="ID" value="1"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="udp://:14541@localhost:14581"/><arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="2"/><arg name="tgt_component" value="1"/>
    </include>
    <node pkg="logistics_gazebo_sim" type="offboard_controller" name="offboard_controller" output="screen">
      <param name="x" value="0"/><param name="y" value="0"/><param name="z" value="$(arg target_z)"/>
    </node>
  </group>

  <group ns="uav2">
    <include file="$(find px4)/launch/single_vehicle_spawn.launch">
      <arg name="x" value="$(eval float(arg('spawn_x')) + 3.0)"/><arg name="y" value="$(arg spawn_y)"/><arg name="z" value="0"/>
      <arg name="R" value="0"/><arg name="P" value="0"/><arg name="Y" value="0"/>
      <arg name="vehicle" value="iris"/><arg name="mavlink_udp_port" value="14562"/>
      <arg name="mavlink_tcp_port" value="4562"/><arg name="ID" value="2"/>
    </include>
    <include file="$(find mavros)/launch/px4.launch">
      <arg name="fcu_url" value="udp://:14542@localhost:14582"/><arg name="gcs_url" value=""/>
      <arg name="tgt_system" value="3"/><arg name="tgt_component" value="1"/>
    </include>
    <node pkg="logistics_gazebo_sim" type="offboard_controller" name="offboard_controller" output="screen">
      <param name="x" value="0"/><param name="y" value="0"/><param name="z" value="$(arg target_z)"/>
    </node>
  </group>
</launch>
