<launch>
  <arg name="scene_id" default="0"/>
  <arg name="gui" default="true"/>
  <arg name="spawn_x" default="-40.0"/>
  <arg name="spawn_y" default="-40.0"/>
  <arg name="target_z" default="5.0"/>
  <arg name="gazebo_master_uri" default="http://127.0.0.1:11420"/>

  <env name="GAZEBO_MASTER_URI" value="$(arg gazebo_master_uri)"/>
  <include file="$(find px4)/launch/mavros_posix_sitl.launch">
    <arg name="x" value="$(arg spawn_x)"/>
    <arg name="y" value="$(arg spawn_y)"/>
    <arg name="z" value="0"/>
    <arg name="vehicle" value="iris"/>
    <arg name="world" value="$(find logistics_gazebo_sim_ros)/worlds/scene_$(arg scene_id).world"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="interactive" value="false"/>
    <arg name="verbose" value="false"/>
  </include>

  <node pkg="logistics_gazebo_sim_ros" type="offboard_controller"
        name="offboard_controller" output="screen">
    <param name="x" value="0.0"/>
    <param name="y" value="0.0"/>
    <param name="z" value="$(arg target_z)"/>
    <param name="configure_sitl_failsafe" value="true"/>
  </node>
</launch>
