<launch>
  <arg name="scene_id" default="0"/>
  <arg name="gui" default="true"/>
  <arg name="gazebo_master_uri" default="http://127.0.0.1:11450"/>
  <arg name="mission_config" default="$(find logistics_gazebo_sim_ros)/config/mission_scene0.yaml"/>
  <arg name="auto_start" default="true"/>
  <arg name="target_z" default="5.0"/>
  <arg name="spawn_x" default="-40.0"/>
  <arg name="spawn_y" default="-40.0"/>
  <arg name="goal_x" default="45.0"/>
  <arg name="goal_y" default="45.0"/>
  <arg name="dynamic_obstacles" default="false"/>
  <arg name="dynamic_avoidance_execution" default="false"/>
  <arg name="dynamic_obstacle_config" default="$(find logistics_gazebo_sim_ros)/config/dynamic_obstacles_crossing.yaml"/>
  <include file="$(find logistics_gazebo_sim_ros)/launch/three_uav_sitl.launch">
    <arg name="scene_id" value="$(arg scene_id)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="target_z" value="$(arg target_z)"/>
    <arg name="gazebo_master_uri" value="$(arg gazebo_master_uri)"/>
    <arg name="spawn_x" value="$(arg spawn_x)"/><arg name="spawn_y" value="$(arg spawn_y)"/>
  </include>
  <node if="$(arg dynamic_obstacles)" pkg="logistics_gazebo_sim_ros" type="dynamic_risk_monitor"
        name="dynamic_risk_monitor" output="screen">
    <param name="vehicle_count" value="3"/><param name="scene_id" value="$(arg scene_id)"/><param name="spawn_x" value="$(arg spawn_x)"/><param name="spawn_y" value="$(arg spawn_y)"/>
  </node>
  <include if="$(arg dynamic_obstacles)" file="$(find logistics_gazebo_sim_ros)/launch/dynamic_obstacles.launch">
    <arg name="config" value="$(arg dynamic_obstacle_config)"/>
  </include>
  <node pkg="logistics_gazebo_sim_ros" type="fleet_mission_player" name="fleet_mission_player" output="screen">
    <param name="config" value="$(arg mission_config)"/>
    <param name="auto_start" value="$(arg auto_start)"/>
    <param name="dynamic_safety_enabled" value="$(arg dynamic_obstacles)"/>
    <param name="dynamic_avoidance_execution" value="$(arg dynamic_avoidance_execution)"/>
    <param name="dynamic_warning_scale" value="0.35"/>
    <param name="dynamic_release_delay_s" value="2.0"/>
  </node>
  <node pkg="logistics_gazebo_sim_ros" type="fleet_safety_monitor" name="fleet_safety_monitor" output="screen">
    <param name="vehicle_count" value="3"/><param name="scene_id" value="$(arg scene_id)"/>
    <param name="min_separation" value="2.2"/><param name="min_obstacle_clearance" value="1.0"/>
    <param name="max_tracking_error" value="1.0"/>
    <param name="spawn_x" value="$(arg spawn_x)"/><param name="spawn_y" value="$(arg spawn_y)"/>
  </node>
  <node pkg="logistics_gazebo_sim_ros" type="fleet_visualizer" name="fleet_visualizer" output="screen"><param name="scene_id" value="$(arg scene_id)"/><param name="spawn_x" value="$(arg spawn_x)"/><param name="spawn_y" value="$(arg spawn_y)"/></node>
  <node pkg="logistics_gazebo_sim_ros" type="mission_recorder" name="mission_recorder" output="screen"/>
  <node pkg="logistics_gazebo_sim_ros" type="parcel_delivery_manager" name="parcel_delivery_manager" output="screen"/>
  <node pkg="logistics_gazebo_sim_ros" type="gazebo_marker_sync" name="gazebo_marker_sync" output="screen"><param name="start_x" value="$(arg spawn_x)"/><param name="start_y" value="$(arg spawn_y)"/><param name="goal_x" value="$(arg goal_x)"/><param name="goal_y" value="$(arg goal_y)"/></node>
</launch>
